<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Time Table</title>
    <script src="/functions.js"></script>
</head>

<body class="timetable-body" onLoad="onLoad()">
    <%- include('../partials/adminnavbar') -%>
    <div class="wrapper">
    <h1>TimeTable(ADMIN view only)  Sem : <%= sem %> Branch : <%= branchCode %> </h1>
    <div id="main">
        <table class="reqList">
            <thead>
                <tr>
                    <th class="reqListHead">Days</th>
                    <th class="reqListHead">8:00 AM - 9:00 AM </th>
                    <th class="reqListHead">9:00 AM - 10:00 AM </th>
                    <th class="reqListHead">10:00 AM - 11:00 AM</th>
                    <th class="reqListHead">11:00 AM - 12:00 PM</th>
                    <th class="reqListHead">12:00 PM - 1:00 PM </th>
                    <th class="reqListHead">1:00 PM - 2:00 PM </th>
                    <th class="reqListHead">2:00 PM - 3:00 PM </th>
                    <th class="reqListHead">3:00 PM - 4:00 PM </th>
                    <th class="reqListHead">4:00 PM - 5:00 PM </th>
                </tr>
            </thead>
            <tbody id="table_body">
                <% for(let i=1;i<=6;i++) {%>
                <tr>
                    <% for(let j=0;j<10;j++){ %>
                    <% let c="tooltip " ; %>
                    <% if(j===0){ %>
                    <td class='<%=c%>'>
                        <%= dm[i]%>
                    </td>
                    <%continue }%>
                    <% if(timeTable[i][tm[j]].bit===1){c+="LectureCancel" ;}%>
                    <td class='<%=c%>' id="<%=i%>+<%=j%>" onclick="updtbl('<%=i%>','<%=j%>')">
                        <%= timeTable[i][tm[j]].subjectCode %>
                    </td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>

        <br><br>

        <!-- Subject Table  -->
        <table class="reqList">
            <thead>
                <tr>
                    <th class="reqListHead">Subject Code</th>
                    <th class="reqListHead">Subject Name </th>
                    <th class="reqListHead">Faculty Code</th>
                    <th class="reqListHead">Faculty Name</th>
                </tr>
            </thead>
            <tbody id="subject-table_body">

            </tbody>
        </table>

    </div>
    <div class="addSubject" id="subject-form">
        <h3 class="headingSubjectAddition">Add New Subject to this Class</h3>
        <table>
            <!--<div class="SubjectAddition">-->
            <tr>
            <td><label for="name">Subject Name : </label></td>
            <td><input type="text" name="name" id="name" /></td>
            <!--</div>-->
            </tr>
            <tr>
            <td><label for="cpde">Subject Code : </label></td>  
            <td><input type="text" name="code" id="code"/> </td>
            </tr>
            <tr>
            <span id="err"></span>
            <td><select id="selectTeacher" name="teacherCode">
                <option>Choose Teacher</option>
            </select>
            <td>
            </tr>
        </table>
            <div class="sub-button">
            <button type="button" onclick="handleSubmitSubject(event)">Submit</button>
            </div>
    </div>
    <div class="popup" id="popup">
        <div class="popup-header">
            <div class="title">header</div>
            <button class="close-button" onclick="closeUpdater()">&times;</button>
        </div>
        <div class="popup-body">
            <form>
                <label for="subjectCode">Subject Code:</label>
                <select id="selectSubject" name="subjectCode">
                    <option>Choose Subject</option>
                </select>
                <button type="button" name="submitButton" value="change" onclick='handleChangeSubmit()'> Submit</button>
            </form>
        </div>
    </div>
    <div id="overlay" onclick="closeUpdater()"></div>
</div>
    <script>
        const sem = '<%-sem%>'
        const branchCode = '<%-branchCode%>'
        const tm = [<%-tm%>]

        const subjectCode = document.getElementById('selectSubject')
        
        const handleChangeSubmit = async() => {
            closeUpdater()
            const data = {
                sem,
                branchCode,
                day: selectedDay,
                time: tm[selectedTime],
                subjectCode: subjectCode.value,
            }
            var subDetails = await fetch(`http://localhost:3000/api/subject/${subjectCode.value}`)
            subDetails = await subDetails.json()
            var isClass = await fetch(`http://localhost:3000/api/teacher/isclass/${subDetails.teacherCode}/${selectedDay}/${tm[selectedTime]}`)
            isClass = await isClass.json()
            if(isClass.isClass===0){
                fetch("http://localhost:3000/api/timetable", {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'auth-token': localStorage.getItem('token')
                    },
                    body: JSON.stringify(data)
                }).then(() => {
                    location.reload()
                })
            }else{
                alert("Teacher already have a class in that slot")
            }
        }
        
        const handleSubmitSubject = ()=>{
            const selectTeacher = document.getElementById('selectTeacher')
            const name = document.getElementById('name').value
            const subjectCode = document.getElementById('code').value
            const data = {
                sem,branchCode,name,subjectCode,teacherCode : selectTeacher.value,teacherName:selectTeacher.options[selectTeacher.selectedIndex].text
            }
            fetch("http://localhost:3000/api/subject", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'auth-token': localStorage.getItem('token')
                },
                body: JSON.stringify(data)
            }).then((d) => {
                location.reload()
            })

        }
    </script>
</body>

</html>